<table>
    <tr>
        <td>T1</td>
        <td><%=t1%></td>
    </tr>
    <tr>
        <td>T2</td>
        <td><%=t2%></td>
    </tr>
    <tr>
        <td>T3</td>
        <td><%=t3%></td>
    </tr>
    <tr>
        <td>T4</td>
        <td><%=t4%></td>
    </tr>
    <tr>
        <td>Total</td>
        <td><%=total%></td>
    </tr>
</table>
<% let marks=mark%>
<%if (marks>=35){%>
    <p style="color: green;">pass</p>
<%}else{%>
    <p style="color: red;">fail</p>
<%}%>
